body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }

  header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 26px;
    font-weight: bold;
    color: #1d70b8;
  }

  .logo img{
    width: 200px;
    height: 80px;
    }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #1d70b8;
  }
  
  h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* 集合写真 */
  .hero {
    width: 100%;
    height: auto;
  }
  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* トップメッセージ */
  .message {
    padding: 40px 20px;
    background-color: #f9f9f9;
  }
  .message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ceo-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .ceo-text {
    max-width: 600px;
    text-align: center;
  }
  
  /* ビジョン */
  .vision {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .map-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .map-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
  }
  
  .map-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  
  .map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
  
  @media (max-width: 768px) {
    .map-box {
      width: 100%;
    }
  }

  footer {
    background: #1d70b8;
    color: white;
    text-align: center;
    padding: 20px;
  }